.tabs > div {
  border: 3px solid black;
  float: left;
  color: red;
}



.tabs:after {
  content: '';
  display: block;
  clear: both;
}

article {
  border: 3px solid black;
  position: relative;
  padding-bottom: 50px;
  background-image: url("cat.jpeg");
}

.wholeTab {
  float: left;
}
